<%- include("partials/header.ejs") %>

<div class="index">
  <h1>Seja bem-vindo</h1>
  <form method="post" action="/login">
    <button type="submit">Entrar</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
